.j-one-banner {
  &__time {
    font-size: 20px;
  }

  &__title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.j-one-user {
  display: flex;
  align-items: center;
  font-weight: bold;

  &__img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.j-one-meetup {
  &__img-box {
    height: 350px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.j-one-meetup__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 15px;

  &--content {
    font-size: 32px;
    font-weight: bold;
  }

  &--type {
    font-size: 20px;
  }
}

.j-one-meetup__detail {
  font-size: 20px;
}

.j-one-side {
  padding: 20px;
  border: 3px solid $team-primary;
  top: 60px;

  &__info {
    margin-top: 25px;
    margin-bottom: 25px;
    &--box {
      display: flex;
      align-items: baseline;
      margin-bottom: 8px;

      i {
        margin-right: 15px;
      }

      //  手動調整 icon本身偏左的問題
      i.fix-2 {
        margin-left: 2px;
      }
    }
  }

  &__map {
    height: 200px;
  }
}

// test and demo
.ttt {
  height: 60px;
}

.outside {
  bottom: 0;
}

.fake-footer {
  background-color: $team-secondary;
  height: 200px;
}
